<h1><%= @task.title %></h1>

<h2><%= @task.details %></h2>

<input type="checkbox" name="task"><%= @task.completed %>

<p> <%= link_to " âœï¸Edit task",  edit_task_path %> </p>

<p> <%= link_to " â—€ï¸Ž Back to tasks",  tasks_path %> </p>

<p><%= link_to "ðŸ—‘ Delete", task_path(@task),
      method: :delete,
      data: { confirm: "Are you sure you wanna delete the task?" } %></p>


